
<table class="table">
    <tr>
        <th>Service Name</th>
        <th>Status</th>
        <th></th>
    </tr>
    @foreach (var service in Model)
    {
        <tr id="@service.ServiceName">
            <td><span>@service.ServiceName</span></td>
            <td><span>@service.Status</span></td>
            <td>
                <div class="pull-right text-nowrap">
                    @if (service.CanStop)
                    {
                        <input type="button" class="btn btn-danger btn-sm stopButton" data-request-url=@Url.Action("Stop", "Home") value="Stop" />
                    }
                    else
                    {
                        <input type="button" class="btn btn-success btn-sm startButton" data-request-url=@Url.Action("Start", "Home") value="Start" />
                    }

                </div>
            </td>
        </tr>
    }
</table>